@import url('https://googleapis.com');
@import "tailwindcss";

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-geist: "Geist", sans-serif;
  --font-jakarta: "Plus Jakarta Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --font-boldonse: "Boldonse", sans-serif;
  --color-theme: #4EFF8C;
  --color-background: #000000;
  --color-text: #ffffff;
}


body{
  position: initial;
  background-color: black;
}

